body {
    font-family: Arial, sans-serif;
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, #ff9900, #ff69b4);
}

.bg-white {
    background-color: #fff;
}

.bg-gray-200 {
    background-color: #f7f7f7;
}

.text-white {
    color: #fff;
}

.text-gray-600 {
    color: #666;
}

.shadow-md {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.rounded {
    border-radius: 10px;
}

.list-disc {
    list-style: disc;
}

.list-inside {
    list-style-position: inside;
}

.hidden {
    display: none;
}