body {
    /* Ensures full viewport height */
    height: 100vh;
}

#cake-gallery img {
    border-radius: 12px;
    transition: transform 0.3s;
}

#cake-gallery img:hover {
    transform: scale(1.05);
}