/* Custom styles beyond Tailwind */
body {
    font-family: Arial, sans-serif;
}

main {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

blockquote {
    border-left-color: #f1c40f;
    padding-left: 20px;
}

button#show-more-btn {
    margin-top: 20px;
}